## One Hot Encoding

- Replacing categorical variables by a matrix of boolean variables 

- Each variable is called a dummy variable 

- For gender, we can have variables such as; Male, Female and Non-Binary 

## Number of Dummies 

- Pandas and sklearn provide K dummy variables; where K is the number of unique labels in the variable 

- When K=2, drop one dummy variable 

- When K!=2, drop one dummy variable if the underlying variables provide complete information even without K variables

- Should always use K-1 dummies for linear regression models because it **looks** at all the variables while fitting to the train set 


# OHE of the top most common labels 
__When we have a highly cardinal variable, we can use the top most common categories and encode them only to prevent the exponential expansion of feature space__

### Pros

- Easy
- Does not expand the feature space exponentially

### Cons 

- Loss of information
- No information of the less common variables

In [392]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [393]:
from google.colab import drive
drive.mount('/content/gdrive')
data = pd.read_csv("gdrive/My Drive/Colab Notebooks/FeatureEngineering/trainh.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [394]:
data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [395]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [396]:
# get number of categories in variables 
categoricals = []
for col in data.columns:
    if data[col].dtypes =='O':
      print('{} categories : {} '.format(col, len(data[col].unique())))
      categoricals.append(col)

MSZoning categories : 5
Street categories : 2
Alley categories : 3
LotShape categories : 4
LandContour categories : 4
Utilities categories : 2
LotConfig categories : 5
LandSlope categories : 3
Neighborhood categories : 25
Condition1 categories : 9
Condition2 categories : 8
BldgType categories : 5
HouseStyle categories : 8
RoofStyle categories : 6
RoofMatl categories : 8
Exterior1st categories : 15
Exterior2nd categories : 16
MasVnrType categories : 5
ExterQual categories : 4
ExterCond categories : 5
Foundation categories : 6
BsmtQual categories : 5
BsmtCond categories : 5
BsmtExposure categories : 5
BsmtFinType1 categories : 7
BsmtFinType2 categories : 7
Heating categories : 6
HeatingQC categories : 5
CentralAir categories : 2
Electrical categories : 6
KitchenQual categories : 4
Functional categories : 7
FireplaceQu categories : 6
GarageType categories : 7
GarageFinish categories : 4
GarageQual categories : 6
GarageCond categories : 6
PavedDrive categories : 3
PoolQC categories : 4
Fence categories : 5
MiscFeature categories : 5
SaleType categories : 9
SaleCondition categories : 6

In [397]:
# Get variables with more than n categories 
n = 8
cats = []
for col in data.columns:
    if data[col].dtypes =='O': 
        if len(data[col].unique())>n: 
            print('{} categories : {} '.format(col, len(data[col].unique())))
            cats.append(col)

Neighborhood categories : 25
Condition1 categories : 9
Exterior1st categories : 15
Exterior2nd categories : 16
SaleType categories : 9

In [398]:
for col in cats:
    if data[col].dtypes =='O': # if the variable is categorical
      print(100*data.groupby(col)[col].count()/np.float(len(data)))
      print()

Neighborhood
Blmngtn     1.164384
Blueste     0.136986
BrDale      1.095890
BrkSide     3.972603
ClearCr     1.917808
CollgCr    10.273973
Crawfor     3.493151
Edwards     6.849315
Gilbert     5.410959
IDOTRR      2.534247
MeadowV     1.164384
Mitchel     3.356164
NAmes      15.410959
NPkVill     0.616438
NWAmes      5.000000
NoRidge     2.808219
NridgHt     5.273973
OldTown     7.739726
SWISU       1.712329
Sawyer      5.068493
SawyerW     4.041096
Somerst     5.890411
StoneBr     1.712329
Timber      2.602740
Veenker     0.753425
Name: Neighborhood, dtype: float64

Condition1
Artery     3.287671
Feedr      5.547945
Norm      86.301370
PosA       0.547945
PosN       1.301370
RRAe       0.753425
RRAn       1.780822
RRNe       0.136986
RRNn       0.342466
Name: Condition1, dtype: float64

Exterior1st
AsbShng     1.369863
AsphShn     0.068493
BrkComm     0.136986
BrkFace     3.424658
CBlock      0.068493
CemntBd     4.178082
HdBoard    15.205479
ImStucc     0.068493
MetalSd    15.068493
Plywood     7.397260
Stone       0.136986
Stucco      1.712329
VinylSd    35.273973
Wd Sdng    14.109589
WdShing     1.780822
Name: Exterior1st, dtype: float64

Exterior2nd
AsbShng     1.369863
AsphShn     0.205479
Brk Cmn     0.479452
BrkFace     1.712329
CBlock      0.068493
CmentBd     4.109589
HdBoard    14.178082
ImStucc     0.684932
MetalSd    14.657534
Other       0.068493
Plywood     9.726027
Stone       0.342466
Stucco      1.780822
VinylSd    34.520548
Wd Sdng    13.493151
Wd Shng     2.602740
Name: Exterior2nd, dtype: float64

SaleType
COD       2.945205
CWD       0.273973
Con       0.136986
ConLD     0.616438
ConLI     0.342466
ConLw     0.342466
New       8.356164
Oth       0.205479
WD       86.780822
Name: SaleType, dtype: float64

In [399]:
data_raw = data.copy()

In [400]:
data = data_raw[cats + ['SalePrice']]

In [401]:
data.columns

Index(['Neighborhood', 'Condition1', 'Exterior1st', 'Exterior2nd', 'SaleType',
       'SalePrice'],
      dtype='object')

In [402]:
def get_top_variables(data, column, n):
  frame = [x for x in data[column].value_counts().sort_values(ascending=False).head(n).index]
  for label in frame:
    data[label] = np.where(data[column]==label, 1, 0)
  data.drop(column, axis = 1, inplace=True)

In [403]:
data.head()

  Neighborhood Condition1 Exterior1st Exterior2nd SaleType  SalePrice
0      CollgCr       Norm     VinylSd     VinylSd       WD     208500
1      Veenker      Feedr     MetalSd     MetalSd       WD     181500
2      CollgCr       Norm     VinylSd     VinylSd       WD     223500
3      Crawfor       Norm     Wd Sdng     Wd Shng       WD     140000
4      NoRidge       Norm     VinylSd     VinylSd       WD     250000

In [404]:
get_top_variables(data, 'SaleType', 5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [405]:
data.head()

  Neighborhood Condition1 Exterior1st Exterior2nd  ...  New  COD  ConLD  ConLw
0      CollgCr       Norm     VinylSd     VinylSd  ...    0    0      0      0
1      Veenker      Feedr     MetalSd     MetalSd  ...    0    0      0      0
2      CollgCr       Norm     VinylSd     VinylSd  ...    0    0      0      0
3      Crawfor       Norm     Wd Sdng     Wd Shng  ...    0    0      0      0
4      NoRidge       Norm     VinylSd     VinylSd  ...    0    0      0      0

[5 rows x 10 columns]

In [406]:
for i in cats:
  if i in data.columns:
    get_top_variables(data, i, 5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [407]:
data.head()

   SalePrice  WD  New  COD  ConLD  ...  VinylSd  HdBoard  MetalSd  Wd Sdng  Plywood
0     208500   1    0    0      0  ...        1        0        0        0        0
1     181500   1    0    0      0  ...        0        0        1        0        0
2     223500   1    0    0      0  ...        1        0        0        0        0
3     140000   1    0    0      0  ...        0        0        0        0        0
4     250000   1    0    0      0  ...        1        0        0        0        0

[5 rows x 21 columns]